body {
    background: -webkit-linear-gradient(50deg, #ff6ec4, #7873f5) !important;
    background: -o-linear-gradient(50deg, #ff6ec4, #7873f5) !important;
    background: linear-gradient(40deg, #ff6ec4, #7873f5) !important;
}